* {
  box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	/* Задаем фон для нашей страницы в виде обычного изображения.
    Это нужно на случай, есть браузер не смог воспроизвести видео из-за того,
    что он не поддерживает тег video. */
    background: fixed url(images/video_bg.jpg) no-repeat;
    background-size: cover;
    transition: 1s all;
}
 
.bear{
	position: absolute;
	left: 10%;
	bottom: 15%;
	z-index: -100;
} 
.wolf{
	position: absolute;
	right: 5%;
	top: 15%;
	z-index: -100;
} 
#video_bg {
    position: absolute;
    top: 0;
    z-index: -99;
   	min-width: 100%;
    min-height: 100%;
    opacity: .8;
}
/* Абсолютная фиксация фона по ширине/высоте */
@media (min-aspect-ratio: 16/9) {
    #video_bg {
        height: 300%;
        top: -100%;
    }
}
 
@media (max-aspect-ratio: 16/9) {
    #video_bg {
        width: 300%;
        left: -100%;
    }
}
 
@supports (object-fit: cover) {
    #video_bg {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* ---CONTAINER №1--- */

.cont1{
	width: 100%;
	min-height: 1000px;
	height: 100vh;
	position: relative;
	font-size: 1.2em;
	color: #1d1616;
}
.cont1 div{
	position: absolute;
}
.cont1 .icon{
	width: 300px;
	height: 50px;
	display: block;
	background-color: #ffe591;
	border-radius: 30px;
	top: 15%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	transition: 1s ease;
	/*border: 3px solid white;*/
	opacity: .7;
	transform-origin: center 100%;
	animation: icon 1.5s ease-out alternate infinite;
	/*background-color: #791b1b;
	background-color: rgba(0,220,220,1);*/
}
.icon h1{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #fffedf; 
	text-align: center;
	margin: 0 auto;
	margin-top: -70px;
	padding-top: 70px;
	border: 3px solid #ffe591;
	transition: 1s ease;
	animation: h1 1.5s ease-out alternate infinite;
}
.cont1 .content1{
	width: 700px;
	display: table;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 35%;
	left: 0;
	right: 0;
}
.content1 h2{
	font-size: 1.7em;
	border-bottom: 2px solid tomato;
}
.content1 p{
	font-size: 1.2em;
}
.cont1 .to-next{
	position: absolute;
	bottom: 15%;
	display: flex;
	width: 110px;
	height: 90px;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	opacity: .7;
	left: 0;
	right: 0;
	animation: to-next 1.5s linear alternate infinite;
}
.to-next img, .to-next2 img{
	background: url(../images/dwn1.png) center no-repeat;
	margin-left: -1px;
}
.to-next:hover, .to-next2:hover{
	background-color: rgba(0,0,0,0.1);
	opacity: .9;
}

/* ---CONTAINER №2--- */

.cont2{
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: #e9e9e9;
}
.div1{
	position: relative;
	top: 0;
  	width:65%;
  	min-height: 900px;
  	height: 100vh;
  	float:left;
  	font-family: 'Source Sans Pro', sans-serif;
  	/*background: #141414;*/
  	background: #1b1b1b;
    -webkit-clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
  	clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
  	color: #f7ffff;
}
.div1 .galaxy{
	position: absolute;
	width: 300px;
	height: 600px;
	margin-left: 200px;
	margin-top: 150px;
	
}
.galaxy-phone{
	position: absolute;
	margin-left: 200px;
	margin-top: 50px;
	transition: .1s ease transform;
}
.div1 .gifa{
	position: absolute;
	top: 35%;
	left: 18%;
	z-index: 9;
}
.div1 h1{
	text-align: center;
	font-size: 2.5em;
}
.div1 .aboutPhone{
	position: absolute;
	display: block;
	width: 400px;
	height: 125px;
	font-size: 1.2em;
	top: 22%;
	left: 45%;
	text-align: center;
	clip: rect(0, 400px, 35px, 0);
	transition: clip .3s ease-in-out;
	transition-delay: 2s;
}

.aboutPhone:hover{
	transition: clip .3s ease-out .2s;
	clip: rect(0, 400px, 125px, 0);
}

.aboutPhone h3{
	font-size: 1.3em;
	margin-top: -5px;
	margin-bottom: -15px;
}
.aboutPhone p{
	border-top: 2px solid #f7ffff;
	padding-top: 5px;
	-webkit-transition: .6s border;
	transition: .6s border;
	animation: design 1s linear alternate infinite;
}
.aboutPhone:hover p{
	animation: none;
	border-top: 2px solid #4eb0b9;
}
.galaxy h2{
	position: absolute;
	letter-spacing: 2px;
	font-size: 1.7em;
	top: 10%;
	left: 21%;
	z-index: -9;
	opacity: .9;
}

.div2{
	position: relative;
	top: 0;
	right: 0;
  	width:65%;
  	min-height: 900px;
  	height: 100vh;
  	background: #0096e0;
  	font-family: 'Source Sans Pro', sans-serif;
  	float:right;
  	margin-left: -50%;
    -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
  	clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
  	color: #f7ffff;	
}
.div2 .imghead{
	position: absolute;
	top: 5%;
	right: 16%;
	
}
.imghead h1{
	position: absolute;
	bottom: -15%;
	left: 22%;
}
.div2 .infohead{
	position: absolute;
	right: 12%;
	bottom: 30%;
	width: 55%;
	height: 270px;
	text-align: center;
}

.infohead div{
	display: table;
	border-radius: 50%;
	box-shadow: 0 0 20px #f7ffff;
	margin: 0 auto;
	animation: coldiv 1.5s linear alternate infinite;
}
.infohead .headphones{
	margin-top: -4px;
}
.div2 .inner-infohead{
	position: absolute;
	display: block;
	width: 700px;
	height: 150px;
	border-top: 2px solid #f7ffff;
	margin-top: 10px;
	font-size: 1.3em;
	clip: rect(0, 700px, 5px, 0);
	animation: desigen 2s linear alternate infinite;
	-webkit-transition: clip .3s ease-in-out, .6s border;
	-webkit-transition-delay: 2s;
	transition: clip .3s ease-in-out, .6s border;
	transition-delay: 2s;
}

.div2 .p-one{
	margin-top: 5px;
	margin-bottom: -10px;
}
.infohead div:hover ~.inner-infohead{
	-webkit-transition: clip .2s ease-out .2s;
	-webkit-clip: rect(0, 700px, 150px, 0);
	transition: clip .2s ease-out .2s;
	clip: rect(0, 700px, 150px, 0);
}
.cont2 .to-next2{
	position: absolute;
	bottom: 5%;
	display: flex;
	width: 110px;
	height: 90px;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	opacity: .7;
	left: 0;
	right: 0;
	animation: to-next 1.5s linear alternate infinite;
}

.cont3{
	position: relative;
	width: 100%;
	min-height: 900px;
	height: 100vh;
	display: table;
	background: url(../images/switzerland_alps_mountains_night_beautiful_landscape_99817_3840x2400.jpg);
	background-size: cover;
	font-size: 2em;
}
.cont3 h1{
	display: table;
	margin: 0 auto;
	margin-top: 40px;
	color: #f7ffff;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	border-bottom: 2px solid #f7ffff;
	text-shadow: 0 0 2px white;
	
}
.cont3 img{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 15%;
	left: 0;
	right: 0;
	opacity: .9;
	-webkit-transition: .1s ease transform;
	transition: .1s ease transform;
}









.top-block{
	position: absolute;
	display: flex;
	top: -4em;
	left: 0;
	right: 0;
	z-index: 2;
	justify-content: center;

}
.top-block ul li{
	float: left;
	margin: 0 70px;
	width: 50px;
	height: 50px;
	list-style: none;
	border-radius: 50%;
	box-shadow: 0 0 5px #ffda8d;
	background: #ffda8d;
}
.top-block ul li:nth-child(1){
	opacity: 0;
	animation: li1 5s ease-out infinite;
	animation-delay: 5s;
}
.top-block ul li:nth-child(2){
	opacity: 0;
	animation: li2 6s ease-out infinite;
	animation-delay: 2s;
}
.top-block ul li:nth-child(3){
	opacity: 0;
	animation: li3 7s ease-out infinite;
	animation-delay: 1s;
}
.top-block ul li:nth-child(4){
	opacity: 0;
	animation: li4 5.5s ease-out infinite;
	animation-delay: 4s;
}
.top-block ul li:nth-child(5){
	opacity: 0;
	animation: li5 5s ease-out infinite;
	animation-delay: 5s;
}
.top-block ul li:nth-child(6){
	opacity: 0;
	animation: li6 7s ease-out infinite;
	animation-delay: 3s;
}
.top-block ul li:nth-child(7){
	opacity: 0;
	animation: li7 6.5s ease-out infinite;
	animation-delay: 2.5s;
}
.top-block ul li:nth-child(8){
	opacity: 0;
	animation: li8 6s ease-out infinite;
	animation-delay: 6s;
}

.left-block{
	width: 300px;
	height: 300px;
	position: absolute;
	bottom: 20px;
	left: 50px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}


.loader {
  width: 50px;
  height: 50px;
  position: relative;
  animation: loader 2s infinite ease-in-out;
}
.loader span {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  border: 4px solid #23C74F;
}
.loader span:nth-child(1) {
  animation: span-1 2s ease-in-out infinite;
}
.loader span:nth-child(2) {
  animation: span-2 2s ease-in-out infinite;
}
.loader span:nth-child(3) {
  animation: span-3 2s ease-in-out infinite;
}
.loader span:nth-child(4) {
  animation: span-4 2s ease-in-out infinite;
}

.right-block{
	position: absolute;
	width: 300px;
	height: 300px;
	bottom: 20px;
	right: 50px;
	display: flex;
  	justify-content: center;
  	align-items: center;

}
.right-block span{
	position: absolute;
	background: #23C74F;
}
.right-block span:nth-child(1){
	width: 150px;
	height: 15px;
	animation: span1 1s ease-in-out alternate infinite;
}
.right-block span:nth-child(2){
	width: 15px;
	height: 150px;
	animation: span2 1s ease-in-out alternate infinite;
}

.cont2>h1{
	
	padding: 0;
	margin: 0;
	text-align: center;
}